
.Container{
    color: #9FBFD0;
    display: flex; 
    max-width: 1020px;
    width: 100%;
    margin: 5px auto;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 20px;
}

.BoxContainer{
    width: 200px;
    display: block;
}

.Box{
    border: 1px solid #9FBFD0;
    display: block;
    text-align: center; 
    margin-bottom: 10px;   
}

.Bar{
    border: 1px solid #9FBFD0;
    display: flex;
    height: 25px;
    align-items: center;
}

h4{
    background-color: transparent;
}