.Container{
    border-top: 1px solid #9FBFD0;
    height: 20px;
    text-align: center;
    user-select: none;  
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;  /* Internet Explorer/Edge */

}

h4{
    color: #9FBFD0;
}