.Container{
    
    border-bottom: 3px double #9FBFD0;
    overflow: scroll;
    cursor: crosshair;
    user-select: none;  
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;  /* Internet Explorer/Edge */
}
.Container::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

table {
    color: #9FBFD0;
    border: none;
    line-height: 35px;
    user-select: none;  

}

.Field{
    height: 60vh;
}

.Number{
    user-select: none;  
    margin: 5px 15px;
    padding-top: 0px;
    font-size: 24px;
    background-color: transparent;
}

